html {
  background: linear-gradient(45deg,#000000, rgba(15, 19, 25, 0.95) );
  margin:auto;
  background-color: #000000;
  font-family: "nationale", "nationale-regular", helvetica, arial, sans-serif;
}

.feet {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size:small ;
}


.bbl {
  box-sizing: border-box;
  color: white;
  width: 500px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 0;
  margin:0 0 0 40px;
}

.bottom_square{
  text-align: center;
  font-size: large;
  margin:-9px 0 0 38.46px;
  border: 0 ;
  padding: 0 ;
  color: rgb(135, 137, 140);
}

.tidal{
  text-align: center;
  font-size: large;
  margin:-3px 0 0 40px;
  border: 0 ;
  padding: 0 ;
  color: rgb(135, 137, 140);

}

#top-square{
  padding-top: 50px;
  margin: 0 0 0 38px;
  color: rgb(135, 137, 140);
}

.square{
  text-align: center;
  font-size: large;
  margin:0 auto;
  border: 0 auto;
  padding: 0 auto;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  margin-bottom: 20px;
}

.uname{
  width: 450px;
  margin-left: 35px;
  padding-left: 0;
  text-align: left;
}

.username {
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;

  border-color: #303036;
  background-color: #1C2026;

  color: #DDDDDe;
  width: 65%;
  padding: 5px 0;
  margin: 20px 0;
}

#or {
  font-size: 10px;
  text-align: center;
}

.button_submit {
  color: #1A1D20;
  font-weight: 550;
  padding: 5px;
  background-color: #77797D;
  border-radius: 15px;
  border-color: #DDDEDE;
  border-width: 2px;
}

.button_text {
  padding: 0 20px;
  font-size: 15px;
}

#submit{
  border:0;
}

#apple,
#google,
#x,
#facebook,
#submit {
  width: 300px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  cursor: pointer;
  
}

#apple,
#google,
#x,
#facebook{
  background-color: #1C2026;
  border:2px solid #DDDDDe;
  justify-content: space-between;
}

#google:hover,#apple:hover,#x:hover,#facebook:hover{
  transition-delay: 0.05s;
  background-color: rgb(60, 63, 68);
}

.box {
  background-color: #1C2026;
  padding: 48px;
  text-align: center;
  align-items: center;
  height: 432.px;
  width: 363px;
  border-radius: 5px;
  margin-top: 40px;
  justify-content: center;
  margin-left: 50px;
}

.button_id {
  font-weight: 550;
  background-color: rgb(27, 27, 50);
  color: #DDDDDe;
  border-radius: 15px;
  border-color: #DDDEDE;
  border-width: 2px;
}
 
.feet1{
  text-align: left;
  align-content: end;
  margin-bottom: 20px;
}


.footer_link:hover{
  color: whitesmoke;
  text-decoration: underline;
}

.footer_link:link{
  color: whitesmoke;
  text-decoration:none;
}

.footer_link:visited{
  color: whitesmoke;
  text-decoration:none;
}



.dropbtn {
  background-color: #232328;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(47, 47, 52);
  border-radius: 10px;
  margin-right: 20px;
}

.dropbtn:hover{
  background-color: rgb(36, 36, 41);
  transition-delay: 5s;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: rgb(36, 36, 41);
  
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color:aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  
  align-items: center;
  display: block;
  border-bottom:0.5px solid rgb(47, 47, 52);
}

.dropup-content a:hover {
  transition-delay: 0.15s;
  background-color: rgb(36, 36, 41);
  color: aqua;
}

.dropup:hover .dropup-content {
  
  display: block;
}

.dropup:hover .dropbtn {
  background-color: rgb(36, 36, 41);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}